        <div id="intro">
            <h1>I am<br />
                        <%- theme.Intro.name %> </h1>
                        <h2><div id="app"></div></h2>
            <p> <%- theme.Intro.slogan %>

            </p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>
